
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ruge+Boogie&display=swap');

em {
    font-style: italic;
}

body {
    display: flex;
    justify-content: center;
    background-color: #e1d4c9;
    margin: 0px auto;
    font-family: Inter;
    color: #403F3D;
}

body h2 {
    line-height: 75px;
    font-size: 60px;
}

body p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    row-gap: 100px;
    max-width: 1360px;
    gap: 100px;
}

.container {
    width: 1360px;
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    max-width: 1360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.nav-menu>a {
    text-decoration: none;
    font-size: 16px;
    color: #403F3D;
    font-weight: 600;
}

.menu:hover {
    border-bottom: 2px solid #403F3D;
}

.menu>a {
    text-decoration: none;
    font-size: 16px;
    color: #403F3D;
    font-weight: 600;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    color: #e1d4c9;
}

h1>em {
    color: #b0907a;
    font-style: normal;
}

.hero {
    background-image: url(source/img-hero.jpg);
    border-radius: 40px;
    padding: 100px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 530px;
}

.hero-container>h1 {
    font-size: 72px;
    margin: 0px auto;
    font-weight: 600;
}

.hero-container>p {
    color: #e1d4c9;
    margin: 0px auto;
    font-size: 16px;
    font-weight: 400;
}

.hero-menu-btn {
    display: flex;
    justify-content: center;
    width: 44px;
    background-color: #e1d4c9;
    padding-top: 20px;
    padding-right: 78px;
    padding-bottom: 20px;
    padding-left: 78px;
    text-decoration: none;
    border-radius: 100px;
    color: black;
    font-family: inter;
    font-weight: 600;
    gap: 8px;
    color: #403F3D;
    cursor: pointer;
}

.hero-menu-btn>img {
    display: none;
}

.hero-menu-btn:hover img{
    display: flex;
}

.hero-menu-btn a {
    text-decoration: none;
    color: #403F3D;
}

.hero-container>a:hover:first-child {
    display: block;
}

.favorite-coffe {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1360px;
}

.favorite-header {
    text-align: center;
}

h2 > span {
    font-style: italic;
}

h2>em {
    font-family: inter;
    color: #b0907a;
    font-style: italic;
}

.slider {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
}

.inner-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-slider {
    max-width: 1152px;
    min-width: 480px;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    min-width: 100%;
}

.slide-1 {}

.slide-2 {
    left: 1152px;
}

.slide-3 {
    left: 2304px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 480px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description-header {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.description-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.description-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.btn-prev {
    position: absolute;
    left: 40px;
    cursor: pointer;
}

.btn-prev>img:hover {
    content: url(/source/btn-slider-hover.png);
    transform: rotate(180deg)
}

.btn-next {
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.btn-next>img:hover {
    content: url(/source/btn-slider-hover.png);
}

.controls {
    display: flex;
    justify-content: center;
}

.control-btn {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    color: #C1B6AD;
}

.about-img {
    display: grid;
    gap: 20px;
    grid-template-columns: 660px 660px;
    grid-template-rows: 590px 430px;
}

.about-img>img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-img>.about-pic-2 {
    height: 430px;
}

.download-app {
    display: flex;
    gap: 100px;
}

.download-appstore img:hover{
    content: url(/source/appstore-hover.png);
}

.download-googleplay img:hover{
    content: url(/source/googleplay-hover.png);
}

.app-offer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.app-btns {
    display: flex;
    gap: 20px;
}

footer {
    background-color: #665F55;
    border-radius: 40px;
    display: flex;
    gap: 100px;
    padding: 100px;
}

footer h2 {
    color: #e1d4c9;
    font-size: 60px;
    margin: 0px;
}

.offer {
    display: flex;
    flex-direction: row;
    gap: 100px;
    /* width: 530px; */
    justify-content: space-between;
    align-items: center;
}

.offer-header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 530px;
}

.contacts-btn {
  
}

.contacts-info {
    display: flex;
    flex-direction: column;
    color: #e1d4c9;
    font-style: normal;
    width: 530px;
    gap: 40px;
}

.contacts-info p {
    font-size: 24px;
}

.contacts {
    display: flex;
    flex-direction: column;
    color: #e1d4c9;
    gap: 16px;
}

.contacts-header {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
}

.contacts a {
    color: #e1d4c9;
    text-decoration: none;
}

.contacts img {
    width: 20px;
    height: 20px;
}

.link {
    display: flex;
    gap: 8px;
    font-size: 16px;
    width: 182px;
}

.link:hover{
    border-bottom: 2px solid #e1d4c9;
}

.link:last-child {
    width: 262px;
}
