body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
h1 {
    font-size: 70px;
    color: white;
    background: linear-gradient(#47dcf7, #020a5c);
}

h2 {
    font-size: 60px;
    color: #092459;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
li {
    list-style-type: none;
}
li > a {
    color: #0613a8;
}
li :hover {
    color: red;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 40px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 10px 5px 5px black;
    padding: 100px;
}
